<!DOCTYPE html>
<html>
  <head>
    <title>Tulipmania (Anno 1637) Node</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <h1>Tulipmania (Anno 1637) Node</h1>

    <div class="columns">
      <div class="left">
        <%= erb :'_wallet' %>
        <%= erb :'_pending_transactions' %>
        <%= erb :'_peers' %>
        <%= erb :'_ledger' %>
      </div>

      <div class="right">
        <%= erb :'_blockchain' %>
      </div>
    </div>

    <script>
      var es = new EventSource('/events');
      es.onmessage = function(e) { window.location.reload(false); };
    </script>

  </body>
</html>
